  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;  
    font-family: 'Montserrat' , sans-serif; 
}

.noti-filter{
    display: flex;
    background-color: #efeff1;
    border-radius: 5px;
    gap: 1vw;
    margin: 1vw;
    padding: 0.7vw;
}

.noti-filter-button{
    border: none;
    border-radius: 10px;
    background-color: #e1e1e1;
    padding: 5px 12px;
}

.noti-filter-button:hover{
    background-color: #cccbcb;
    cursor: pointer;
}


.noticias{
    display: grid;
    margin: 1vw;
    gap: 1vw;
    grid-template-areas: "firstColumn secondColumn thirdColumn fourColumn";
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1vw; /* Ajusta el espaciado horizontal */
    grid-row-gap: 2vw;
}

.firstColumn{
    grid-area: firstColumn;
    margin-bottom: 3000px;
    width: 100%;
    gap: 2000px;
}

.secondColumn{
    grid-area: secondColumn;
    margin-bottom: 1.5vw;
}

.thirdColumn {
    grid-area: thirdColumn;
}

.fourColumn {
    grid-area: fourColumn;
}


.noti-card{
    border: 1px solid #efeff1;
    border-radius: 5px;
    padding: 2vw;
    display: inline-flex;
    flex-direction: column;
    gap: 1vw;
    
    
    height: auto;
    margin-bottom: 1.5vw;
}
.noti-card-title{

}

.noti-card-section-category{
    display: flex;
    gap: 0.2vw;
}

.noti-card-category{
    border: 1px solid #efeff1;
    border-radius: 10px;
    background-color: #efeff1;
    padding: 0.3vw;
    
}

.noti-card-category:hover{
    background-color: #e1e1e1;
}

.noti-card-div{
   width: auto;

}

.noti-card-div-p{
    
}

.noti-card-divButton{
    
}

.noti-card-button{
    border: none;
    border-radius: 10px;
    background-color: #e1e1e1;
    padding: 5px;
}

.noti-card-button:hover{
    background-color: #d4d4d4;
    cursor: pointer;
}

.noti-card ::before{
    border:solid black 1px;
}
